<div class="row">
  <div class="col">
    <div class="container">
      <h1>Profile - <%= username %></h1>
      <p>Signed in as: <%= @user.email %></p>
    </div>
    <hr>
  </div>
</div>

<div class="row">

  <div class="col-md-4">

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="new-item">
      <h4>
        <span class="glyphicon glyphicon-flash"></span>
        Add a new todo item
      </h4>
      <div class="form">
        <%= render partial: '/items/form' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
  <%= form_tag user_item_path(@user), method: :delete, remote: true do %>
    <table class="table">
      <thead class="table-head">
        <tr>
          <th scope="col"></th>
          <th scope="col">Todo</th>
          <th scope="col" class="text-right">Expiring in</th>
        </tr>
      </thead>
      <tbody>
        <%= render @items %>
      </tbody>
    </table>
    <%= submit_tag "Complete Todos", class: 'btn btn-primary btn-block custom-button' %>
  <% end %>
  </div>

</div>
